<p>
    Reference for the current configuration elements can be found
    <a href="https://github.com/colinrgodsey/step-daemon/blob/master/server/src/main/resources/reference.conf" target="_blank">here</a>.
    Changing any of these settings will require an OctoPrint restart for them to take effect.
</p>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('S-Curve Jerk') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.stepd.sjerk">
        </div>

        <label class="control-label">{{ _('Tick Rate') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.stepd.tickrate">
        </div>

        <label class="control-label">{{ _('Format') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.stepd.format">
        </div>
    </div>
</form>